@page
@model LoginModel

@{
}

<div class="row h-100">
    <div class="col-12 form-signin">
        <section>
            <form id="account" method="post">
                <div class="text-center">
                    <img class="mb-4" src="images/Coolicky_Logo.svg" height="72" width="72" />
                    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="" asp-for="Input.Email"></label>
                    <input placeholder="Email Address" type="email" asp-for="Input.Email" class="form-signin-control form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="" asp-for="Input.Password"></label>
                    <input placeholder="Password" type="password" asp-for="Input.Password" class="form-signin-control form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-block btn btn-outline-dark">Log in</button>
                </div>
                <div class="form-group mb-5">
                    <p>
                        <a class="btn-block btn-outline-dark btn" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a class="btn-block btn-outline-primary btn" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
        <section>
            <h4>External log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    if (provider.Name == "Google")
                                    {
                                        <button type="submit" class="btn-block btn btn-outline-dark" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <img src="images/icons/Google_Logo.png" height="20" />
                                        </button>

                                    }
                                    if (provider.Name == "Microsoft")
                                    {
                                        <button type="submit" class="btn-block btn btn-outline-dark" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <img src="images/icons/Microsoft_Logo_Grey.png" height="20" style="margin-bottom: 2px" />
                                        </button>

                                    }
                                    if (provider.Name == "Facebook")
                                    {
                                        <button type="submit" class="btn-block btn btn-outline-dark" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <img src="images/icons/Facebook_Logo.png" height="24" />
                                        </button>

                                    }
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}