@page
@model RegisterModel
@{
}

<div class="row">
    <div class="col-12 form-signin">
        <div class="text-center">
            @*<img class="mb-4" src="images/Coolicky_Logo_W.svg" height="72" width="72" />*@
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 96 96" style="enable-background:new 0 0 96 96;" xml:space="preserve" height="72" width="72" class="mb-4 logo">
            <style type="text/css">
                .st0 {
                    fill: none;
                    stroke: #FFFFFF;
                    stroke-width: 5;
                    stroke-miterlimit: 10;
                }
</style>
            <g>
            <path class="st0" d="M50.3,93c-12,0-23.3-4.7-31.9-13.2S5.2,60,5.2,48c0-12,4.7-23.3,13.2-31.9C26.9,7.6,38.2,2.9,50.3,2.9
		        c12,0,23.3,4.7,31.9,13.2l-17,17c-4-4-9.2-6.2-14.8-6.2c-5.6,0-10.9,2.2-14.8,6.2c-4,4-6.2,9.2-6.2,14.8c0,5.6,2.2,10.9,6.2,14.8
		        S44.7,69,50.3,69c5.6,0,10.9-2.2,14.8-6.2l17,17C73.6,88.3,62.3,93,50.3,93z" />

            <circle class="st0" cx="49.7" cy="47.4" r="11.6" />
                </g>
            </svg>
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        </div>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-signin-control form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-signin-control form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-signin-control form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-5">
                <p>
                    <button type="submit" class="btn btn-block btn-outline-light my-4">Register</button>
                </p>
                <p>
                    <a class="btn-block btn-outline-light btn" id="forgot-password" asp-page="./Login">Login</a>
                </p>
            </div>
        </form>

        <section>
            <h4>External registration.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn  btn-block btn-outline-light" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}